[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "condformat"]
	path = condformat
	url = https://github.com/zeehio/condformat
	shallow = true
	registered = true
[submodule "sgolay"]
	path = sgolay
	url = https://github.com/zeehio/sgolay
	shallow = true
	registered = true
[submodule "MassSpecWavelet"]
	path = MassSpecWavelet
	url = https://github.com/zeehio/massspecwavelet
	shallow = true
	registered = true
