[submodule ".registry"]
	path = .registry
	url = https://github.com/zeehio/zeehio.r-universe.dev
	branch = HEAD
[submodule "AlpsNMR"]
	path = AlpsNMR
	url = https://github.com/sipss/AlpsNMR
[submodule "ChemometricsWithR"]
	path = ChemometricsWithR
	url = https://github.com/rwehrens/ChemometricsWithR
[submodule "GCIMS"]
	path = GCIMS
	url = https://github.com/sipss/GCIMS
[submodule "MassSpecWavelet"]
	path = MassSpecWavelet
	url = https://github.com/zeehio/MassSpecWavelet
[submodule "condformat"]
	path = condformat
	url = https://github.com/zeehio/condformat
[submodule "httpuv"]
	path = httpuv
	url = https://github.com/zeehio/httpuv
[submodule "pow"]
	path = pow
	url = https://github.com/sipss/pow
	registered = false
[submodule "sgolay"]
	path = sgolay
	url = https://github.com/zeehio/sgolay
